.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
  margin-bottom: 80px;
}

.item {
  width: calc((100% - 32px * 3) / 4);
}

.btn {
  display: block;
  margin: 0 auto 124px;
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 51px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.btn:hover,
.btn:focus {
  border-color: var(--button-hover);
}
