:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;

  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  margin: 0;
  display: block;
  place-items: center;
  color: var(--main);
  background: var(--white);
}

src {
  display: block;
}

button {
  cursor: pointer;
}

#root {
  margin: 0 auto;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
