.container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-image: url(../../img/Picture-min.jpg);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .container {
    background-image: url(../../img/Picture@2x-min.jpg);
  }
}

.contentWrapper {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
}

.link {
  display: block;
  border-radius: 12px;
  padding: 12px 99px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  /* width: 276px;
  height: 44px; */
  background: var(--button);

  transition: background-color 0.3s ease;
}

.link:hover,
.link:focus {
  background-color: var(--button-hover);
}
